.login {
    border: 2px dashed red;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.header {
    border: 2px dashed green;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
}


.red {
   --background-color: red;
}

.green {
    --background-color: green;
}

.blue {
    --background-color: blue;
}